.ui-image-component {
  position: relative;
  overflow: hidden;
}

.ui-image-component .image {
  display: block;
  width: 100%;
}

.ui-image-component .draft {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.ui-image-component .draft {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.ui-image-component.animate .draft {
  opacity: 1;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
}

.ui-image-component.status-show .draft {
  display: none;
}

.ui-image-component.status-show.animate .draft {
  display: block;
  opacity: 0;
}

.ui-image-component.status-show.animate-end .draft {
  display: none;
}